body {
  width: 1100px;
  margin: auto;
  padding: 4px;
}

.Thread {
  padding: 4px;
  background: #eee;
}

.Header {
  margin: 4px;
  padding: 4px;
  background: #ddd;
}

.Comment {
  margin: 4px;
  margin-left: 50px;
  padding: 4px;
  background: #ddd;
}

.ApiError {
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 4px;
  background: #faa;
}
